@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.hero-collage-container {
  background-color: #181B1F;
}
.hero-college-container-background{
  padding: 4rem 0rem;
  text-align: center;
  display: flex;
  align-items: center;
  /* background: radial-gradient(ellipse at center, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.8) 100%); */
}

.collage-text h1 {
  font-family: 'Righteous', cursive;
  font-size: 3.5rem;
  color: #e0e0e0;
  margin-bottom: 2rem;
}

.collage-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.collage-card {
  position: relative;
  width: 250px;
  height: 300px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.collage-card:hover {
  transform: scale(1.08);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.collage-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to top, rgba(0,0,0,0.9) 20%, transparent);
  padding: 1rem;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.collage-card:hover .card-overlay {
  opacity: 1;
  transform: translateY(0);
  
}

.card-overlay h3 {
  font-family: 'Righteous', cursive;
  color: #fff;
  font-size: 1.2rem;
  margin: 0;
}